body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    height: 97vh;
    width: auto;
    gap: 15px;
    margin: 0px;
}
.header{
    background-color: #3F2937;
    display: flex;
    align-self: stretch;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    color: goldenrod;
}
.rock, .paper, .scissors {
    width: 160px;
    height: 175px;
    border-radius: 25px;
    border: 5px solid #3882F6;
    background-color: #1F2937;

    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}
.choice{
    display: flex;
    gap: 40px;
    margin: 40px;
    justify-content: center;
}
.score{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: white;
    font-size: 25px;
    margin: 40px;
}
.message{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    margin: 40px;
    width: 800px;
    height: 28px;
}
.winner{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    margin: 40px;
    height: 28px;
}
